@charset "UTF-8";
.Icon {
  /* Permet de redimensionner en changeant la font-size de l’icône */
  width: 1em;
  height: 1em;
  /* Bel alignement visuel des icônes avec le texte */
  vertical-align: -0.15em;
  /* fill par défaut = valeur de la propriété couleur de son élément parent */
  fill: currentColor;
  /* Les paths et les strokes qui dépassent de la viewBox peuvent apparaître dans IE.
       Si vous utilisez normalize.css, inutile de l’ajouter. */
  overflow: hidden;
}

html, body {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

.menu {
  height: 100vh;
  background-color: #1e3799;
  width: 200px;
}

.nav {
  margin-left: -300px;
  transition-duration: 0.2s;
}

.nav .logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

.nav a {
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 30px;
  text-decoration: none;
}

.nav_open {
  margin-left: 0px;
  transition-duration: 0.2s;
}

.toggle_btn {
  height: 54px;
  width: 54px;
  position: relative;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
}

.toggle_btn span {
  display: block;
  height: 3px;
  width: 22px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.toggle_btn span:before, .toggle_btn span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 3px;
  background-color: #ffffff;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.toggle_btn span:after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.toggle_btn span:before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.toggle_btn:hover span:after {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.toggle_btn:hover span:before {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.menu-icon-cross {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.menu-icon-cross span {
  z-index: 2;
  transition: background 0.2s, -webkit-transform 0.2s;
  transition: background 0.2s, transform 0.2s;
  transition: background 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

.menu-icon-cross span:before, .menu-icon-cross span:after {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.is-opened {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.toggle_btn svg {
  z-index: 1;
  fill: #1e3799;
  stroke-width: 1px;
  stroke: #ffffff;
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  transition: stroke-dashoffset 0.2s;
}

.menu-icon-cross.is-opened span {
  background: transparent;
}

.menu-icon-cross.is-opened span:before {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.menu-icon-cross.is-opened span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.menu-icon-cross.is-opened svg {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  stroke-dashoffset: 0;
}

@media (min-width: 710px) {
  .menu {
    height: 50px;
    width: 100vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu a {
    padding-top: 10px;
  }
  .nav {
    margin: 0;
  }
  .toggle_btn {
    display: none;
  }
}

.inner {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .inner {
    width: 768px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=mon_site.css.map */
